<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
      <% article.errors.full_messages.each do |message| %>
        <%= js add_gritter(message, title: "Error, missing item!", sticky: false) %>
      <% end %>
  <% end %>

  <div class="input-field">
    <%= form.text_field :title, id: :article_title %>
    <%= form.label :title %>
  </div>

  <div class="input-field">
    <%= form.text_area :content, id: :article_content, class: "materialize-textarea" %>
    <%= form.label :content %>
  </div>

  <div class="field">
    <%#= form.text_field :category, id: :article_category %>
    <%= form.label :category %>
    <select id="article_category" name="article[category]" style="display: inherit;" class="browser-default">
      <option value="Ruby">Ruby</option>
      <option value="Games">Games</option>
      <option value="Cars">Cars</option>
    </select>
    <br>
  </div>

  <div class="actions">
    <%= form.submit class: "waves-effect waves-light btn no-decoration blue lighten-1" %>
  </div>
<% end %>
