<div class="full-background"></div>
<h1 class="article-title white-text">Articles</h1>

<% if logged_in?(:editor) %>
  <center>
    <%= link_to 'New Article', new_article_path, class: "waves-effect waves-light btn no-decoration blue lighten-1"  %>
  </center>
  <br><br>
<% end %>

<div class="wrapper">
  <div id="columns">
    <% @articles.each do |article| %>
      <div class="col s12 m6 article-index-post ">
        <div class="card blue-grey darken-1 card-on-hover">
          <div class="card-content">
            <span class="card-title"><%= article.title %></span>
            <em>by <%= article.user.full_name %></em>
            <br><br>
            <p><%= article.content %></p>
          </div>
          <div class="card-action">
            <%= render "edit_options", article: article  %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
