<h1 class="article-title">Articles</h1>

<% if logged_in?(:editor_user) %>
  <center>
    <%= link_to 'New Article', new_article_path, class: "waves-effect waves-light btn no-decoration blue lighten-1"  %>
  </center>
  <br><br>
<% end %>

<div class="wrapper">
  <div id="columns">
    <% @articles.each do |article| %>
      <div class="col s12 m6 article-index-post ">
        <div class="card blue-grey darken-1 card-on-hover">
          <div class="card-content card-content-two">
            <span class="card-title"><%= article.title %></span>
            <em>by <%= article.user.first_name + " " + article.user.last_name %></em>
            <br><br>
            <p><%= article.content %></p>
          </div>
          <div class="card-action">
            <% if logged_in?(:editor_user) %>
              <%= render "editor_options", article: article  %>
            <% elsif  %>
              <%= render "admin_options", article: article  %>
            <% else %>
              <%= render "user_options", article: article  %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
