<div class="full-background"></div>

<div class="row article-row">
  <h2 class="center-content white-text">Ruby Articles</h2>
  <% @ruby_articles.each do |ruby_article| %>
    <div class="col s12 m6 article-main">
      <div class="card horizontal">
        <div class="card-stacked">
          <h5 class="header article-title"><%= ruby_article.title %></h5>
          <div class="card-content">
            <p><%= ruby_article.content %></p>
          </div>
          <div class="card-action">
            <%= link_to 'View Article', ruby_article %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="row article-row">
  <h2 class="center-content white-text">Game Articles</h2>
  <% @game_articles.each do |game_article| %>
    <div class="col s12 m6 article-main">
      <div class="card horizontal">
        <div class="card-stacked">
          <h5 class="header article-title"><%= game_article.title %></h5>
          <div class="card-content">
            <p><%= game_article.content %></p>
          </div>
          <div class="card-action">
            <%= link_to 'View Article', game_article %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="row article-row">
  <h2 class="center-content white-text">Car Articles</h2>
  <% @car_articles.each do |car_article| %>
    <div class="col s12 m6 article-main">
      <div class="card horizontal">
        <div class="card-stacked">
          <h5 class="header article-title"><%= car_article.title %></h5>
          <div class="card-content">
            <p><%= car_article.content %></p>
          </div>
          <div class="card-action">
            <%= link_to 'View Article', car_article %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
